*{
    margin:0;
}
body{
    display:flex;
    justify-content: center;
}
#container{
    position:absolute;
    margin-top:40px;
    display:flex;
    width:700px;
    height:500px;
}
#foot{
    position:absolute;
    top:485px;
    display:flex;
    width:700px;
    height:45px;
    justify-content:space-between;
    align-items: flex-end;
    background-color: rgb(234, 223, 223);
}
/* #forget{
    
} */
.b2{
    color: white;
    background-color: rgb(243, 48, 48);
    border:0;
    width:80px;
    padding:9.5px;
    border-radius:10%;
}
.button{
    border:none;
    color:white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:25px ;
    cursor: pointer;
    background-color: rgb(68, 209, 68);
    width: 696px;
}
#data{
    position:absolute;
    top:230px;
}
input[type="text"] {
    height: 25px; 
}
#pic{
    background-image: url("image1.jpeg");
    background-size: cover;
    border-radius: 50%;
    position:absolute;
    margin-top:20px;
    margin-left:240px ;
    display:inline-block;
    width:200px;
    height:200px
}